{% extends "public_base.html" %}

{% block title %}
Introduction | KAYA NATIN! Youth
{% endblock %}

{% block body_class %}
page-introduction
{% endblock %}

{% block content %}

<section class="page-header">

    <h1>
        Introduction
    </h1>

    <p>
        [INTRODUCTION DESCRIPTION]
    </p>

</section>


<section class="content-section">

    <h2>
        Nature
    </h2>

    <p>
        [PLACEHOLDER CONTENT]
    </p>

</section>


<section class="content-section">

    <h2>
        History
    </h2>

    <p>
        [PLACEHOLDER CONTENT]
    </p>

</section>


<section class="content-section">

    <h2>
        Mission
    </h2>

    <p>
        [PLACEHOLDER CONTENT]
    </p>

</section>


<section class="content-section">

    <h2>
        Vision
    </h2>

    <p>
        [PLACEHOLDER CONTENT]
    </p>

</section>

{% endblock %}
